body {
    background-color: #072E56;
}

h1 {
    color:white;
    text-align:center;
}

h2 {
    color: white;
    text-align: center;
}
  /*burger-background*/
  .bg {
      background: url(../image/Burger-B.jpg) no-repeat center center;
      background-size:cover;
      width: 100%;
      height: 500px;
  }

  /*latestfood*/
  .container-latestfood {
    margin-top: 20px;  
}

.container-latestfood .col-md-3 {
    margin-top: 45px;
    margin-bottom: 20px;
    background-color: white;
    border: 1px orange solid;
    height: 400px;
    text-align: center;
}

.container-latestfood .cart .fa {
    color: orange;
}
.container-latestfood .cart .fa:hover {
    color: red;
}
