/*footer*/
.footer {
    height: 300px;  
    padding: 20px;
}

.container-footer .col-md-4 {
    text-align: center;
    margin-top: 50px;
    color: white;
    opacity: 1.0;
    
}

 .container-footer .col-md-4 a {
    text-decoration: none;
    color: white;
}

.container-footer .col-md-4 a:hover {
    color: orange;
}
.social-media {
    text-align: center;
}
.footer .social-media .fa {
    padding: 10px;
    font-size: 20px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin: 5px 5px;
    border-radius: 50%;
    color:black;
    background-color: white;
}

.footer .fa:hover {
    background-color:orange;
    color:white;
}
 .footer-end {
     margin-top: 50px;
    height: 80px;
    color: white;
 }