body {
    background-color: #072E56;
}

h1 {
    color:white;
    text-align:center;
}

h2 {
    color: white;
    text-align: center;
}


  .reservation-bg {
    background: url(../image/reservation.jpeg) no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 400px;
}

  .reservation-bg .col-md-12 {
      top:20%;
  }

  .col-md-12 .text {
      color: white;
      text-align: center;
      margin-top:20px;
  }


/*reserve table*/
  .container {
      color: white;
      width: 100%;
      margin-bottom: 50px;
  }
  
.container input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}


select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.btn {
    background-color: orange;
    color: white;
    padding: 12px 20px;
    border: 1px solid orange;
    border-radius: 4px;
    cursor: pointer;
    position: center;
}

button:hover {
    background-color: #d3c64e;
}
